/*Body*/
body{
	margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

ul{
	list-style: none;
}

/*Navigation*/
.navigation {
	background-color: black;
	padding-top: 2px;

}
.navigation li.active a {
	color: #40c6ec;
}

.navigation li {
	position: relative;
	margin-right: 15px;
	float: left;
	top: 20px;
	right: 35px;
}

.logo {
	position: relative;
	display: block;
    margin: auto;
    width: 0;
}


/*Search Input*/

/*Sidebar*/
#sidebar {
	float: left;
	margin: 0;
	padding: 0;
	width: 255px;
}

#sign{

	background-color: black;
	background-size: 80px 60px;
	margin-top:1px;
	padding-top: 25px;
	padding-left: 30px;
}

#signWords{
	display:inline;
	position: absolute;
	padding-top: 15px;
	padding-left: 20px;
}

#avatar {
	position: relative;
	bottom: 10px;

}
.sbbg{
	background-color: #282626;
}
.sbGroup a{
	position: absolute;
	vertical-align: center;
	left: 50px; 
	
}

#myThriv{ 
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	left: 5px;
}


#deals{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#wellness{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#fam{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#wealth{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#night{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#com{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#dine{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#tech{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#relate{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}
#fash{
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}

/*Sections*/
.sections{
	color: white;
	position: relative;
	display: inline;
	width: 100%;
	left:1px;
	
}	

.sections h3{
	position: relative;
	left: 10px;

}
.secbg {
	background-color: #282626;
}

/*Featured*/
.featured {
	display: flex;
	margin-top:1px;
}

#underF h1{
	background-color: #6751a2;

	display: flex;
	margin:0;
	height: 463px;
}

/*cAROUSEL*/


/*New Arrivals*/

.newArrivals {
	display: flex;
	margin-top: 1px;
}
/*New Arrival Thumbnails*/
.thumbnail{
	background-color: #6751a2;
	position: relative;
	display: flex;
	margin: 0;

}

.box{
	
	margin-left: 10px; 
	margin-top: 10px;
}	

.gBox{
	background-color: #282626;
	position: relative;
	bottom: 5px;
}



/*ThrivLocal Deals*/
.deals {
	display: flex; 
	margin-top:1px;
	margin-left: 125px;

}

.thumbnail2{
	background-color: #6751a2;
	display: flex;
	margin: 0;
}


